[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #b388ff !important;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #b388ff !important;
}
input.valid[type=text]:not(.browser-default) {
    border-bottom: 1px solid #b388ff !important;
    -webkit-box-shadow: 0 1px 0 0 #b388ff !important;
    box-shadow: 0 1px 0 0 #b388ff !important;
}

/* canvas{ border: 1px solid gray; } */