{% load static %}
{% load pwa %}
<!doctype html>

<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6CYZSTV1KB"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6CYZSTV1KB');
    </script>
    <meta charset="utf-8">

    <title>Resize Instagram</title>
    <meta name="description" content="Resize your Instagram image instasize 인스타사이즈 no crop square whitagram squaready">
    <meta name="author" content="Resize Instagram">

    <!-- facebook -->
    <meta property="og:url" content="https://resize-instagram.com" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Resize instagram" />
    <meta property="og:description" content="Simple resize image for instagram" />
    <meta property="og:image" content="{% static 'ogimage.png' %}" />
    <meta property="og:locale" content="en_US" />

    <!-- pwa -->
    {% progressive_web_app_meta %}

    <link rel="icon" href="{% static 'favicon.ico' %}">
    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/aurora.css' %}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/imagetools.js' %}"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    {% csrf_token %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    </script>
    {% block script %}
    {% endblock %}  
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</head>

<body>

    <div class="div-gradient gradient1"></div>
    <div class="div-gradient gradient2"></div>
    <div class="div-gradient gradient3"></div>
    <!-- <script src="js/scripts.js"></script> -->
    <div class="container">
        {% block contents %}
        {% endblock %}
    </div>
</body>
</html>