{% load static %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Resize Instagram</title>
    <meta name="description" content="Resize Instagram">
    <meta name="author" content="Resize Instagram">

    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/aurora.css' %}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    {% csrf_token %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    </script>
    {% block script %}
    {% endblock %}  
</head>

<body>

    <div class="div-gradient gradient1"></div>
    <div class="gradient2"></div>
    <div class="gradient3"></div>
    <!-- <script src="js/scripts.js"></script> -->
    <div class="container">
        {% block contents %}
        {% endblock %}
    </div>
</body>
</html>